.showcase{
    background-color: #FBEDDA;
    padding-top: 170px;
    .showcase_main{
        h1{
            font-weight: 800;
            font-size: 80px;
            line-height: 105px;
            text-align: center;
            color: #021112;

        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
            text-align: center;
            color: #677071;
        }
    }
}
@media(max-width:1000px){
    .showcase{
        padding: 0 50px;
        .showcase_main{
            h1{
                font-size: 60px;
            }
        }
    }
}
@media(max-width: 600px){
    .showcase{
        .showcase_main{
            h1{
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}

@media(max-width: 475px){
    .showcase{
        .showcase_main{
            h1{
                font-size: 30px;
                line-height: 50px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}
    